h2{
    text-align: center;
}

/* unvisited link */
.main a:link {
  color: black;
}
/* visited link */
.main a:visited {
  color: black;
}

.main{
    text-align: center;
    color:black;
    text-decoration: none;
    text-decoration-color: black;
    
}


