
/* unvisited link */
a:link {
  color: white;
}
/* visited link */
a:visited {
  color: white;
}
 
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background:#673AB7;
  text-decoration: none;
}

/* Sidebar/left column */
.sidefoot {
  -ms-flex: 40%; 
  flex: 40%;
  padding: 20px;
  color: white;
  text-decoration: none;
  text-align: left;
  font-size: 100%;
}
  
/* Main column */
.mainfoot {   
  -ms-flex: 60%; 
  flex: 60%;
  padding: 20px;
  color: white;
  text-decoration: none;
  overflow: hidden;
}

.twitter::before{
  content: url("../images/social_media_icons/twitter.svg");
}
.instagram::before{
  content: url("../images/social_media_icons/instagram.svg");
}
.github::before{
  content: url("../images/social_media_icons/github.svg");
}
.spotify::before{
  content: url("../images/social_media_icons/spotify.svg");
}
  