
  .profileimg {
    background-color:#673AB7;
    width: 100%;
    padding: 20px;
    height:auto;
    
  }

  .buffer {
    background-color:#673AB7;
    width: 100%;
    padding: 10px;
    height:20px;
  }

  #intro {
  background-color:#7543cc;
  color: white;
  }

  p,h1,h2,h5 {
    font-size: 150%;
  }


