html{
    background-color: #A7B0CA;
}


.jumbotron{
    background-image: linear-gradient(#533A7B, #724b9e);
    border-radius: 25px;
}

header h1{
    font-size: 600%;
    color: white;
}



body{
    overflow-x: hidden;
    background-color: #A7B0CA;
}


.navbar{
    color:white;
    background-color: #127475;
}

.fa-bars{
    color: white;
}
.fa-bars:hover{
    color: #F6AE2D;
}


#currentPage{
    color: white;
    font-size: 200%;
    background-color: transparent;
}

#currentPage a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#currentPage a:hover{
    background-color: transparent;
    color: #F6AE2D;
    cursor: pointer;
}

#navbarLinks{
    color: white;
    font-size: 200%;
    background-color: transparent;
}

#navbarLinks a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#navbarLinks a:hover{
    background-color: transparent;
    color: #F6AE2D;
    cursor: pointer;
}


.card-title{
    background-color: #533A7B;
    color: white;
}

.card{
   border-color: black;
   border-width: 5px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}