/* unvisited link */
.side a:link {
  color: black;
}
/* visited link */
.side a:visited {
  color: black;
}

.main{
    text-align: center;
    align-content: center;
}

.header p {
  text-align: center;
  align-content: center;
}

.header h1 {
  text-align: center;
  align-content: center;
}

h1{
    text-align: left;
    align-content: left;
}

p{
    text-align: left;
    align-content: left;
  }

img{
  background-color:#673AB7;
  padding: 20px;
  width: auto ;
  max-width: 100% ;
  height: auto ;
  alt: "Image Not Found";
}

 .buffer {
    background-color:#673AB7;
    width: 100%;
    padding: 10px;
    height:20px;
  }

  .eagle_image{
    height: 550px;
    width: 450px;
  }

