#footer{
    background-color: #127475;
    color: white;
}

 .fa {
   padding: 20px;
   font-size: 30px;
   width: 100px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
 }
 
 .fa:hover {
     opacity: 0.7;
     text-decoration: none;
 }
 
 .fa-facebook {
   background: #3B5998;
   color: white;
 }
 
 .fa-twitter {
   background: #55ACEE;
   color: white;
 }
 
 .fa-linkedin {
   background: #007bb5;
   color: white;
 }
 .fa-youtube {
   background: #bb0000;
   color: white;
 }
 .fa-instagram {
   background: #125688;
   color: white;
 }
 .fa-spotify {
   background: green;
   color: white;
 }

 .fa-github{
   background: black;
   color: white;
 }
  
 /* Hoverbtn */
 .button {
   border-radius: 4px;
   background-color: #fa5882;
   border: none;
   color: #ffffff;
   text-align: center;
   font-size: 28px;
   padding: 20px;
   width: 200px;
   transition: all 0.5s;
   cursor: pointer;
   margin: 5px;
   text-decoration: none;
 }
 
 .button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
 }
 
 .button span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .button:hover span {
   padding-right: 25px;
 }
 
 .button:hover span:after {
   opacity: 1;
   right: 0;
   text-decoration: none;
 }

 a {
     text-decoration: none;
     display: inline-block;
     padding: 8px 16px;
 }
 
 a:hover {
     background-color: #ddd;
     color: #000000;
     text-decoration: none;
 }


 #navLinks a{
    text-decoration: none;
    color: white;
    text-decoration: none;
 }
 #navLinks a:hover{
   color:white;
   background-color: gray;
   text-decoration: none;
 }
 

 
